<div class="title">
  <h2>Tất cả các giải đấu :</h2>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div>
    <div>
      <label for="teamName">Team Name:</label>
      <input
        id="teamName"
        type="text"
        name=""
        value=""
        formControlName="teamName"
        placeholder="Nhập tên đội bóng"
      />
    </div>
    <label for="country">Country:</label>
    <select id="country" formControlName="country">
      <option value="">Không</option>
      <!-- <option *ngFor="let country of countries" [value]="country.value">
        {{ country.name }}
      </option> -->
    </select>
  </div>
  <br />
  <button type="submit" class="btn-create">Tìm</button>
</form>
<div class="container-content">
  <table>
    <tr>
      <th class="select-all">
        <span>ID</span>
      </th>
      <th>
        <div class="header-name">
          <span>Tên giải đấu</span>
        </div>
      </th>
      <th>
        <div class="header-view">
          <span>Bắt đầu</span>
        </div>
      </th>
      <th>
        <div class="header-cate">
          <span>Kết thúc</span>
        </div>
      </th>
      <th>
        <div class="header-cate"><span>Số đội bóng</span></div>
      </th>
      <th>
        <div></div>
      </th>
    </tr>
    <ng-container *ngFor="let item of tournament; let i = index">
      <tr class="" [ngClass]="{ selected: item.opened }">
        <td class="item-stt">{{ item.tournamentId }}</td>
        <td class="item-name">
          <div class="title-status">
            <p>{{ item?.tournamentName }}</p>
          </div>
        </td>
        <td class="item-cate">
          <p>{{ item?.startDate | date }}</p>
        </td>
        <td class="item-cate">
          <p>{{ item?.endDate | date }}</p>
        </td>
        <td class="item-view">
          <span>{{ item?.tournamentTeam?.length }}</span>
        </td>

        <td class="item-view">
          <div class="">
            <fa-icon
              [icon]="faPenToSquare"
              (click)="openDialog(item)"
            ></fa-icon>
            <fa-icon
              [icon]="faTrash"
              (click)="onDelete(item.tournamentId)"
            ></fa-icon>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
