<div class="site-wrap">
  <div
    class="bg-img"
    style="
      background-image: url('https://media.mia.vn/uploads/blog-du-lich/kham-pha-toa-soan-bao-ha-noi-moi-mot-dia-diem-check-in-noi-tieng-1639927782.jpg');
    "
  ></div>
  <div class="form-wrap">
    <div class="form-inner">
      <h1 class="title">Đăng nhập</h1>
      <p class="caption mb-4">Vui lòng nhập thông tin tài khoản</p>

      <form class="pt-3" [formGroup]="formAccount" (submit)="login()">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder=""
            formControlName="username"
          />
          <label for="email" class="lable-input">Email Address</label>
        </div>

        <div class="form-floating">
          <span class="password-show-toggle js-password-show-toggle"
            ><span class="uil" (click)="toggleShowPassword()"></span
          ></span>
          <input
            type="{{ passwordType }}"
            class="form-control"
            id="password"
            placeholder=""
            formControlName="password"
          />
          <label for="password" class="lable-input">Password</label>
        </div>

        <div class="d-grid mb-4">
          <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <ngx-loading [show]="true" *ngIf="loading"></ngx-loading> -->
