<div class="title">
  <h2>Tất cả các huấn luyện viên :</h2>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div>
    <div>
      <label for="teamName">Team Name:</label>
      <input
        id="teamName"
        type="text"
        name=""
        value=""
        formControlName="coachName"
        placeholder="Nhập tên đội bóng"
      />
    </div>
    <label for="country">Country:</label>
    <select id="country" formControlName="country">
      <option value="">Không</option>
      <option *ngFor="let country of countries" [value]="country.value">
        {{ country.name }}
      </option>
    </select>
  </div>
  <br />
  <button type="submit" class="btn-create">Tìm</button>
</form>
<div class="container-content">
  <table>
    <tr>
      <th class="select-all">
        <span>ID</span>
      </th>
      <th>
        <div class="header-name">
          <span>Tên HLV</span>
        </div>
      </th>
      <th>
        <div class="header-cate">
          <span>Quốc Gia</span>
        </div>
      </th>
      <th>
        <div class="header-cate">
          <span>Ngày sinh</span>
        </div>
      </th>
      <th>
        <div class="header-cate">
          <span>Năm kinh nghiẹm</span>
        </div>
      </th>
      <th>
        <div class="header-view"><span>Dội bóng</span></div>
      </th>
      <th></th>
    </tr>
    <ng-container *ngFor="let item of coaches; let i = index">
      <tr class="" [ngClass]="{ selected: item.opened }">
        <td class="item-stt">{{ item.coachId }}</td>
        <td class="item-name">
          <p>{{ item?.coachName }}</p>
        </td>
        <td class="item-name">
          <p>{{ item?.country }}</p>
        </td>
        <td class="item-cate">
          <p>{{ item?.dateOfBirth | date }}</p>
        </td>
        <td class="item-view">
          <span>{{ item?.yearsOfExperience }}</span>
        </td>
        <td class="item-view">
          <span>{{ item?.teamName }}</span>
        </td>
        <td class="item-view">
          <div class="">
            <fa-icon
              [icon]="faPenToSquare"
              (click)="openDialog(item)"
            ></fa-icon>
            <fa-icon
              [icon]="faTrash"
              (click)="onDelete(item.coachId)"
            ></fa-icon>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
